.bg-header-mine {
  background-color: rgb(36, 76, 237);
}

.btn-clr {
  background-color: rgb(36, 76, 237);
  color: white;
}

.navbar-brand {
  font-size: 50px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.navbar-brand img {
  width: 75px;
  height: auto;
  border-radius: 25%;
  margin-right: 5%;
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 20px;
  }
  .navbar-brand img {
    width: 20px;
    margin-right: 10px;
  }
}

/* creates gab between last search button and current weather card when flexed down */
@media (max-width: 576px) {
  #recent-searches {
    margin-bottom: 20px;
  }
}

nav,
header {
  padding-bottom: 20px;
}

main {
  padding-top: 20px;
}

body {
  background-color: your_color_here;
}

.card {
  background-color: rgb(37, 180, 237);
}

/* Flexing for when on phone */
@media (max-width: 576px) {
  .col {
    flex-basis: 100%; /* Ensures each card takes up full width on smaller screens */
  }

  .row {
    flex-wrap: wrap; /* Allows cards to wrap to the next line */
  }

  #day1WeatherCard,
  #day2WeatherCard,
  #day3WeatherCard,
  #day4WeatherCard {
    margin-bottom: 20px; /* Gap between cards */
  }
}

/* Flex behavior for computer screens */
@media (min-width: 768px) {
  .row {
    display: flex;
  }

  #day1WeatherCard,
  #day2WeatherCard,
  #day3WeatherCard,
  #day4WeatherCard,
  #day5WeatherCard {
    flex: 1; /* Each card takes up equal space */
    margin-right: 20px; /* Add a gap between the weather cards */
    margin-bottom: 20px;
  }

  #day5WeatherCard {
    margin-right: 0; /* No right margin for the last card */
  }
}

/* For specific elements */
/* .header {
  background-color: your_color_here;
} */

/* Will be used (someday) for gif backgrounds
.card {
  background-color: transparent;
  padding: 0;
  margin: 0;
} */
